 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p.small>I'm currently a data scientist at Plated, a meal kit company based in NYC and subsidiary of Albertsons.
                        Previously, I worked as an associate research scientist and data scientist in the Division of Learning Analytics at the
                        <a href="https://med.nyu.edu/institute-innovations-medical-education/our-programs-divisions"
                        target="_new tab">Institute for Innovations in Medical Education</a> of the NYU School of Medicine,
                        where I did research on the use of feedback, refresher education, and adaptive content delivery systems in
                        medical education with <a href="http://nyulangone.org/doctors/1215996061/martin-v-pusic" target="new_tab">
                            Dr. Martin Pusic</a>.</p>

                    <p.small>I earned my M.S. in Data Science from the <a href="http://cds.nyu.edu" target="_new tab">NYU Center for Data Science</a>,
                        where I worked as a teaching assistant, graduate researcher, and statistical consultant. </p>

                      <p.small>My background is in educational measurement, cognitive science, and machine learning, with a strongly
                          computational and Bayesian orientation. I earned my B.S. in <a href="http://www.bcs.rochester.edu" target="_newtab">
                              Brain &amp; Cognitive Sciences from the University of Rochester</a> in 2012, where I concentrated in
                              psycholinguistics and language development.</p>
                </div>
                <div class="col-lg-4">
                    <p.small>I transition pretty fluidly between Python, R, and SQL, and typically use all three in tandem for most projects,
                        as the task requires.</p>
                        
                    <p.small>Substantively, my primary research interests lie at the intersection of educational technology, measurement, and computer
                        supported collaborative learning. Currently I'm interested in: </p> <p.small><b><i>1)</i></b> developing a framework for
                            the assessment of collaborative problem-solving within educational technology platforms,</p> <p.small><b><i>2)</i></b>
                                 understanding the relationship between metacognitive and cognitive factors in modeling learning growth curves,
                                 and </p> <p.small><b><i>3)</i></b> applying causal inference methods to policy evaluation in interventions
                                     addressing educational access, refugee services, and racial justice. </p>
                </div>
            </div>
        </div>
    </section>
