 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm currently a graduate student at the <a href="http://cds.nyu.edu">NYU Center for Data Science</a>, where I work as a teaching assistant, researcher, and statistical consultant, completing my M.S. in Data Science in 2016. My background is in cognitive science, educational measurement, and quantitative psychology, with a strongly computational and Bayesian bent. I earned my B.S. in <a href="http:www.bcs.rochester.edu">Brain & Cognitive Sciences from the University of Rochester</a>.</p>
                </div>
                <div class="col-lg-4">
                    <p>Substantively, my primary research interests lie in developing a framework for the assessment of collaborative problem-solving within educational technology platforms, understanding the relationship between metacognitive and cognitive factors in learning growth curve rates, and causal inference for efficacy of policy interventions in education and racial justice.</p>
                </div>
            </div>
        </div>
    </section>
