<!-- CV Section -->
   <section id="cv">
       <div class="container pt">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Curriculum Vitae</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row mt centered">
               <h3> Education </h3>
               <div> <p.small><b> New York University </b>, New York, NY</p.small>
                 <p.small> Master of Science in Data Science <i>Expected December 2016</i></p.small>
                 <p.small> Doctoral coursework in Department of Psychology (2013-2014) </p.small>
                 <p.small> GPA: 3.92 (37 graduate credits completed) </p.small>
               </div>
               <div>
                 <p.small><b> University of Rochester </b>, Rochester, NY</p.small>
                   <p.small> Bachelor of Science in Brain and Cognitive Sciences <i>May 2012</i></p.small>
                   <p.small> High Honors in Research, Highest Distinction in Brain and Cognitive Sciences </p.small>
                   <p.small> GPA: 3.97 <i> summa cum laude</i> (top 2% of class) </p.small>
               </div>
               <div>

               </div>

               <h3> Work Experience </h3>
               <h3> Scholarship, Honors, and Awards </h3>
               <h3> Computational Skills </h3>
               <h3> Thesis Projects </h3>
               <h3> Volunteer Experience </h3>
           </div>
       </div>
   </section>
