<!-- CV Section -->
   <section id="cv">
       <div class="container pt">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Curriculum Vitae</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row mt centered">
               <h3> Education </h3>
                 <div>
                 <div class="col-sm-6"> <p.small><b> New York University </b>, New York, NY</p>
                   <p.small> Master of Science in Data Science, <i>expected December 2016</i></p>
                   <p.small> Doctoral coursework in Department of Psychology (2013-2014) </p>
                   <p.small> GPA: 3.92 (37 graduate credits completed) </p>
                 </div>
                 <div class="col-sm-6">
                   <p.small><b> University of Rochester </b>, Rochester, NY</p>
                     <p.small> Bachelor of Science in Brain and Cognitive Sciences, 2012</p>
                     <p.small> High Honors in Research, Highest Distinction in Brain and Cognitive Sciences </p>
                     <p.small> GPA: 3.97 <i> summa cum laude</i> (top 2% of class) </p>
                 </div> </div>
               <div>
               <div class="col-sm-6"> <p.small><b>Carnegie Mellon University</b>, Pittsburgh, PA</p>
                 <p.small> Pittsburgh Science of Learning Center LearnLab Summer School</p>
                 <p.small> Certificate in Educational Data Mining, 2015</p>
               </div>
               </div> </div>
               <div>
               <h3> Work Experience </h3>
               <div>
               <div class="col-sm-6">
                 <p.small><b>Department of Applied Statistics, NYU Steinhardt School</b> (October 2015-present)</p>
                  <p.small><i> Graduate Research Assistant</i></p>
               </div>
               <div class="col-sm-6">
                 <p.small><b>Center for Data Science, New York University</b> (January 2016-present)</p>
               </div> </div>
               <div>
               <div class="col-sm-6">
                 <p.small><b>Independent statistical consultant</b> (January 2016)</p>
               </div>
               <div class="col-sm-6">
                 <p.small><b>Department of Psychology</b> (September 2014-May 2015)</p>
                 <p.small><i>Statistics Teaching Assistant and Grader</i></p>   
               </div> </div>

              </div>
              <div>
               <h3> Scholarship, Honors, and Awards </h3>
              </div>
              <div>
               <h3> Computational Skills </h3>
             </div>
             <div>
               <h3> Thesis Projects </h3>
             </div>
             <div>
               <h3> Volunteer Experience </h3>
             </div>
           </div>
       </div>
   </section>
