<!-- CV Section -->
   <section id="cv">
       <div class="container pt">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Curriculum Vitae</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row mt centered">
               <h3> Education </h3>
                 <div>
                 <div class="col-sm-6"> <p.small><b> New York University </b>, New York, NY</p>
                   <p.small> Master of Science in Data Science, <i>expected December 2016</i></p>
                   <p.small> Doctoral coursework in Department of Psychology (2013-2014) </p>
                   <p.small> GPA: 3.92 (37 graduate credits completed) </p>
                 </div>
                 <div class="col-sm-6">
                   <p.small><b> University of Rochester </b>, Rochester, NY</p>
                     <p.small> Bachelor of Science in Brain and Cognitive Sciences, 2012</p>
                     <p.small> High Honors in Research, Highest Distinction in Brain and Cognitive Sciences </p>
                     <p.small> GPA: 3.97 <i> summa cum laude</i> (top 2% of class) </p>
                 </div> </div>
               <div>
               <div class="col-sm-6"> <p.small><b>Carnegie Mellon University</b>, Pittsburgh, PA</p>
                 <p.small> Pittsburgh Science of Learning Center LearnLab Summer School</p>
                 <p.small> Certificate in Educational Data Mining, 2015</p>
               </div>
               <div class="col-sm-6"> <p.small><b>Brandeis University</b>, Waltham, MA</p>
                 <p.small> Justice Louis D. Brandeis Scholar</p>
                 <p.small> 2006-2007</p>
               </div>
               </div> </div>

               <h3> Work Experience </h3>
               <div>
               <div class="col-sm-6">
                 <p.small><b>Department of Applied Statistics</b>, NYU Steinhardt School (October 2015-present)</p>
                  <p.small><i> Graduate research assistant</i></p>
               </div>
               <div class="col-sm-6">
                 <p.small><b>Center for Data Science</b>, New York University (January 2016-present)</p>
                 <p.small><i> Machine Learning grader and teaching assistant</i></p>
               </div> </div>
               <div>
               <div class="col-sm-6">
                 <p.small><b>Department of Psychology</b>, New York University (September 2014-May 2015)</p>
                 <p.small><i>Statistics teaching assistant and grader</i></p>
                 <p.small> Analysis of Variance, Master's Statistics, Introduction to Psychology </p>
               </div> </div>
               <div>
                 <div class="col-sm-6">
                   <p.small><b>Data Services</b>, NYU Bobst Library (May 2014-August 2014)</p>
                   <p.small><i>Quantitative data consultant</i></p>
                   <p.small> Expertise in MATLAB, SPSS, and R </p>
                 </div>
               </div><div>
                <div class="col-sm-6">
                  <p.small><b>Independent statistical consultant</b> (January 2016)</p>
                 <p.small> Clients referred by the NYU Department of Psychology </p>
                </div>
                <div class="col-sm-6">
                  <p.small><b>Preprofessional Advising Center</b>, NYU (August 2014-August 2015)</p>
                 <p.small> <i> Academic advisor specializing in prehealth students</i> </p>
                </div></div>
                <div>
                 <div class="col-sm-6">
                   <p.small><b>Computer Science Department</b>, University of Rochester (September 2010-May 2011)</p>
                  <p.small><i>Laboratory Teaching Assistant and Workshop Leader </i></p>
                 </div>
                 <div class="col-sm-6">
                   <p.small><b>Human Language Processing Lab</b>, University of Rochester (September 2009-July 2011)</p>
                  <p.small> <i>Bilski-Mayer Research Fellow and Undergraduate Research Assistant</i> </p>
                 </div></div>
                 <div class="col-sm-6">
                   <p.small><b>New York Heart Research Foundation</b> (November 2008-January 2010)</p>
                  <p.small><i>Clinical Research Intern and Budget Assistant</i></p>
                 </div>
                 <div class="col-sm-6">
                   <p.small><b>CUNY Baruch School of Public Affairs</b> (August 2012-December 2012)</p>
                  <p.small><i>Healthcare policy research assistant</i></p>
                 </div>
              <div>
               <h3> Scholarship, Honors, and Awards </h3>
              </div>
              <div>
               <h3> Computational Skills </h3>
             </div>
             <div>
               <h3> Thesis Projects </h3>
             </div>
             <div>
               <h3> Volunteer Experience </h3>
             </div>
           </div>
       </div>
   </section>
