 <!-- Portfolio Modals -->
 {% for post in site.posts reversed %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-labelledby="portfolio {{ post.modal-id }}" aria-hidden="true">
      <div class="modal-content">
          <div class="modal-header">
            <div class="close-modal" data-dismiss="modal" aria-label="Close">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div> </div>

            <div class="modal-body">
                <h2>{{ post.title }}</h2>
                <hr class="star-primary">
                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                <ul class="list-inline item-details">
                  <li>Institution:
                    <strong>{{ post.institution }}</strong>
                  </li>
                  <li>Date:
                    <strong>{{ post.project-date }}</strong>
                  </li>
                  <li>Domain:
                    <strong>{{ post.category }}</strong>
                  </li>
                </ul>


            </div>
            <div class="modal-footer">
              <div class="col-sm-6 col-sm-offset-2">{{ post.description }}</div>
                 {% if post.code %}
                  <a class="btn btn-link" href="{{ post.code }}" target="_newtab"
                    ><p>Code</p></a>
                 {% endif %}

                 {% if post.paper %}
                 <a class="btn btn-link" href="{{ post.paper }}" target="_newtab"
                   ><p>Paper</p></a>
                 {% endif %}

                 {% if post.slides %}
                 <a class="btn btn-link" href="{{ post.slides }}" target="_newtab"
                   ><p>Slides</p></a>
                 {% endif %}

                <button type="button" class="btn btn-lg" data-dismiss="modal"><i class="fa fa-times"></i>Return to Portfolio</button>

            </div>
          </div>
        </div>
{% endfor %}
